@import "../../constants.scss";

$navigation-link-font-size: 12px;
$navigation-link-color: $shade-one;
$navigation-link-color--hover: $shade-two;
$navigation-link-color--active: $shade-two;

.navigation {
  &__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &__list-item {
    flex: 1;
  }

  &__link {
    @include font-sentance;

    font-size: $navigation-link-font-size;
    text-transform: uppercase;
    color: $navigation-link-color;
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: $navigation-link-color--hover;
    }

    &--active {
      color: $navigation-link-color--active;
    }
  }
}
